.admin-productos {
  width: 600px;
 margin: 4rem auto;
  padding: 15px;
  box-sizing: border-box;
  background: #eee;
  border: 1px solid #000;
  border-radius: 10px;
}

/* Títulos */
.admin-productos h1,
.admin-productos h2 {
  text-align: center;
  margin: 5px 0 15px;
}




.admin-productos label {
  display: block;
 margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

.admin-productos input {
  width: 100%;
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
}

/* Botón guardar */
.admin-productos button {
  width: 100%;
  padding: 7px;
  margin-top: 5px;
}

.admin-productos button:hover {
  cursor: pointer;
  background: #000;
  color: #fff;
}


/* =========================
   TABLA
   ========================= */

.tabla-container {
  width: 95%;
  margin: 30px auto;
  overflow-x: auto;
  background: #eee;
}

table {
  width: 100%;
  min-width: 1200px;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  border: 1px solid #ddd;
  white-space: nowrap;
}

.descripcion {
  white-space: normal;
 width: 300px;

}

.acciones {
  text-align: center;
  white-space: nowrap;
}


/* =========================
   CELULAR
   ========================= */

@media (max-width: 480px) {

  .admin-productos {
    width: 280px;
    height: 200px;
    min-height: 200px;
    margin: 20px auto;
    padding: 12px;
  }

}