<h1>Crear combo</h1>

<!-- ID -->
<label>ID del combo</label>

<input
  type="number"
  [(ngModel)]="idCombo"
  placeholder="Ej: 1">


<br><br>


<!-- NOMBRE -->
<label>Nombre del combo</label>

<input
  type="text"
  [(ngModel)]="nombreCombo"
  placeholder="Ej: Combo habitación completa">

<!-- IMAGEN -->
<label>Imagen del combo</label>

<input
  type="text"
  [(ngModel)]="imagenCombo"
  placeholder="Ej: /assets/img/">



<br><br>


<!-- BASE -->
<label>Base</label>

<select [(ngModel)]="baseId">

  <option value="">
    Seleccionar base
  </option>

  <option
    *ngFor="let producto of bases"
    [value]="producto.docId">

    {{ producto.nombre }}

  </option>

</select>


<br><br>


<!-- COLCHÓN -->
<label>Colchón</label>

<select [(ngModel)]="colchonId">

  <option value="">
    Seleccionar colchón
  </option>

  <option
    *ngFor="let producto of colchones"
    [value]="producto.docId">

    {{ producto.nombre }}

  </option>

</select>


<br><br>


<!-- ESPALDAR -->
<label>ESPALDAR</label>

<select [(ngModel)]="espaldarId">

  <option value="">
    Sin espaldar
  </option>

  <option
    *ngFor="let producto of espaldares"
    [value]="producto.docId">

    {{ producto.nombre }}

  </option>

</select>


<br><br>


<!-- PRECIO -->
<label>Precio del combo</label>

<input
  type="number"
  [(ngModel)]="precioCombo"
  placeholder="Ej: 1299000">


<br><br>


<!-- DESCRIPCIÓN -->
<label>Descripción</label>

<textarea
  [(ngModel)]="descripcionCombo"
  placeholder="Descripción del combo">
</textarea>


<br><br>


<!-- GUARDAR -->
<button (click)="guardarCombo()">
  Guardar combo
</button>

<hr>

<h2>Combos creados</h2>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Imagen</th>
      <th>Precio</th>
      <th>Descripción</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>

    <tr *ngFor="let combo of combolista">

      <td>{{ combo.id }}</td>

      <td>{{ combo.nombre }}</td>

      <td>
        <img
          [src]="combo.imagen"
          [alt]="combo.nombre"
          class="combo-imagen">

      </td>

      <td>
        {{ combo.precio | currency:'COP' }}
      </td>

      <td>{{ combo.descripcion }}</td>

      <td>

        <button (click)="editar(combo)">
          Editar
        </button>

        <button (click)="eliminar(combo.docId)">
          Eliminar
        </button>

      </td>

    </tr>

  </tbody>
</table>