<div class="contenedor-general">

  <!-- parte izquierda -->

  <div class="carrucel-contenedor">
  
   <div class="carrucel-inicio" *ngIf="imagenes.length > 0">
     <img 
      [src]="imagenes[posicionActual]?.imagen" 
      class="carrucel-imagen"
      alt="promo">
   </div>

    <button class="nav-carrucel anterior" (click)="anterior()">‹</button>
    <button class="nav-carrucel siguiente" (click)="siguiente()">›</button>

  </div>

  <!-- Links de la categoria donde estan los productos -->

  <div class="links-carrucel">
    <a *ngFor="let link of links" [routerLink]="link.ruta">
      <div class="link-tarjeta">
        <img [src]="link.img" alt="{{ link.nombre }}">
         <span>{{ link.nombre }}</span>
      </div>
    </a>
  </div>
  
</div>
      
  



















